.gridItem {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  @media (max-width: 768px) {
    .gridItem {
        width: 100%;
    }
  }
  
.li {
    text-overflow: ellipsis;
    overflow: hidden;
}