.timelineContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .timelineItem {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: top;
  }
  
  .timelineBullet {
    height: 100%;
  }
  
  .timelineLine {
    height: 100%;
  }